html{
    scroll-behavior: smooth;
    background-color: #000;
}
main{
    margin: 1% 0;
}
a, a:link, a:visited, a:hover, a:active{
    color: white;
    text-decoration: none;
}

* img{
    object-fit: cover;
    object-position: center;
}

/* * p {
    font-size: clamp(0.5em, 0.5em + 1vw, 1.5em);
}

* h1, * h2, * h3, * h4, * h5 {
    font-size: clamp(1.5em, 1.5em + 1vw, 2.5em);
} */

iframe{
    width: 20vw;
    height: 20vw;
}

hr {
    color: #ffffff00; 
    border-color: #ffffff00; 
    height: 120px;
}

.gradient-blue{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,121,242,1) 27%, rgba(27,121,242,1) 70%, rgba(0,0,0,1) 100%);
}

.white, .white * h1, .white * h2, .white * h3, .white * h4, .white * h5, .white * p{
    background-color: #fff;
    color: #000;
}


#vantagens {
    /* background-image: url("../img/img4.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
}



@media screen and (max-width: 768px) {
    html{
        background-color: #000;
    }

    iframe{
        width: 50vw;
        height: 50vw;
    }




    .flexresponsivo {
        flex-direction: column;
    }

}